.pokemon-image {
  width: 100%;
}

.pokemon-id {
  font-style: italic;
  font-size: 12px;
}

.pokemon-name {
  &::first-letter {
    text-transform: uppercase;
  }
}

.pokemon-ability {
  &:after {
    content: '|';
    margin: 0 10px;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}